
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

a {
  color: #11999E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-color: #EAF6F6;
  border-style: dotted none none none;
  border-width: 10px;
  width: 3%;
  margin: 150px auto 150px auto;

}

.top-container {
  background-color: #f6f6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 50px;
}
.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;

}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 175px auto;
  text-align: left;
  line-height: 2;
}

.skill1img {
  width: 25%;
  float:left;
  margin-right: 30px;
}
.skill2img {
  width: 25%;
  float: right;
  margin-left: 20px;
}
.btn {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   width: 200px;
   height: 15px;
   padding: 15px;
   margin: 50px auto 50px auto;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.copyright {
  color: #EAF6F6;
  margin-top: 50px;
}
.twitter {
  margin: auto 50px;
}

}
.pbreak {
  width: 25%;
  margin: 40px auto 0 auto;
}
